/*
 * Copyright (c) 2021 Rafael Yumagulov
 *
 * SPDX-License-Identifier: MITh
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>

#define DEF 0
#define NAV 1
#define NUM 2
#define SYM 3
#define FUN 4
#define MSC 5
#define MOU 6
#define WIN 7
#define MOD 8
#define CLC 9
#define CMD LGUI
#define OPT LALT
#define CTRL LCTRL
#define SHFT LSHFT
#define MOU_LL MOVE_LEFT
#define LL LEFT
#define MOU_DD MOVE_DOWN
#define DD DOWN
#define MOU_UU MOVE_UP
#define UU UP
#define MOU_RR MOVE_RIGHT
#define RR RIGHT
#define CM(x) LG(x)
#define SH(x) LS(x)
#define OP(x) LA(x)
#define CT(x) LC(x)

&lt { quick_tap_ms = <200>; };
&mt { quick_tap_ms = <200>; };
/ {
    macros {
        mouse_on: mouse_on {
            label = "mouse_on";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &tog MOU>
                , <&kp CM(SH(OP(N1)))>
                ;
        };

        mouse_off: mouse_off {
                    label = "mouse_off";
                    compatible = "zmk,behavior-macro";
                    #binding-cells = <0>;
                    bindings
                        = <&macro_tap &tog MOU>
                        , <&kp CM(SH(OP(N2)))>
                        ;
                };

        lang: lang {
                    label = "lang";
                    compatible = "zmk,behavior-macro";
                    #binding-cells = <0>;
                    bindings
                        = <&kp CAPS>
                        , <&kp CM(SH(OP(N3)))>
                        ;
                };

        calc_on: calc_on {
                            label = "calc_on";
                            compatible = "zmk,behavior-macro";
                            #binding-cells = <0>;
                            bindings
                                = <&macro_tap &tog CLC>
                                , <&kp CM(SH(OP(N4)))>
                                ;
                        };
       calc_off: calc_off {
                           label = "calc_off";
                           compatible = "zmk,behavior-macro";
                           #binding-cells = <0>;
                           bindings
                               = <&macro_tap &tog CLC>
                               , <&kp CM(SH(OP(N5)))>
                               ;
                       };
    };
};

/ {
        keymap {
                compatible = "zmk,keymap";
//-----------------------------------------------------------------------------------------------------------------------------------
                default_layer { bindings = <
//-----------------------------------------------------------------------------------------------------------------------------------
//         0            1       2          3         4         5      |     5          4         3          2          1         0
//-----------------------------------------------------------------------------------------------------------------------------------
    &trans &mo MOD      &kp Q   &kp W      &kp E     &kp R     &kp T        &kp Y      &kp U     &kp I      &kp O      &kp P     &kp LBKT        &trans
           &mt CMD CAPS &kp A   &mt SHFT S &mt OPT D &mt CMD F &mt CTRL G   &mt CTRL H &mt CMD J &mt OPT K  &mt SHFT L &kp SEMI  &mt CMD SQT
           &mo MOD      &kp Z   &kp X      &kp C     &kp V     &kp B        &kp N      &kp M     &kp COMMA  &kp DOT    &kp FSLH  &lt MOD RBKT
//-----------------------------------------------------------------------------------------------------------------------------------
                           &lt NUM ESC  &lt FUN SPACE  &lt WIN TAB      &lt NUM RET &lt NAV BSPC &lt SYM DEL
//-----------------------------------------------------------------------------------------------------------------------------------
                        >;
                };
//-----------------------------------------------------------------------------------------------------------------------------------

//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

//-----------------------------------------------------------------------------------------------------------------------------------
                nav_layer { bindings = <
//-----------------------------------------------------------------------------------------------------------------------------------
//         0        1       2          3        4         5    |     5          4         3       2         1        0
//-----------------------------------------------------------------------------------------------------------------------------------
   &trans &none     &none   &none      &none    &none     &none      &kp PG_UP  &kp HOME  &kp UU   &kp END   &kp INS  &kp PSCRN            &trans
          &none     &none   &kp SHFT   &kp OPT  &kp CMD   &kp CTRL   &kp PG_DN  &kp LL    &kp DD   &kp RR    &none    &none
          &none     &none   &none      &none    &none     &none      &none      &none     &none    &none     &none    &none
//-----------------------------------------------------------------------------------------------------------------------------------
                                              &none &none &none      &none &none &none
//-----------------------------------------------------------------------------------------------------------------------------------
                        >;
                        
                };
//-----------------------------------------------------------------------------------------------------------------------------------

//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

//-----------------------------------------------------------------------------------------------------------------------------------
                num_layer { bindings = <
//-----------------------------------------------------------------------------------------------------------------------------------
//         0        1        2            3           4           5       |        5         4         3        2         1       0
//-----------------------------------------------------------------------------------------------------------------------------------
   &trans &none    &kp GRAVE &mt SHFT N7  &mt OPT N8  &mt CMD N9  &kp BSLH         &none     &none     &none    &none     &none   &none                  &trans
          &none    &none     &mt SHFT N4  &mt OPT N5  &mt CMD N6  &kp CTRL         &kp CTRL  &kp CMD   &kp OPT  &kp SHFT  &none   &none
          &mo MSC  &none     &mt SHFT N1  &mt OPT N2  &mt CMD N3  &none            &none     &none     &none    &none     &none   &none
//-----------------------------------------------------------------------------------------------------------------------------------
                                   &kp MINUS &kp N0 &kp EQUAL                      &none &none &none
//-----------------------------------------------------------------------------------------------------------------------------------
                        >;
                };
//-----------------------------------------------------------------------------------------------------------------------------------

//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

//-----------------------------------------------------------------------------------------------------------------------------------
                sym_layer { bindings = <
//----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//         0        1         2          3          4          5       |        5            4            3            2            1             0
//----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
   &trans &none    &kp TILDE  &kp AMPS   &kp STAR   &kp LPAR   &kp PIPE         &none        &none        &none        &none        &none         &none              &trans
          &none    &none      &kp DLLR   &kp PRCNT  &kp CARET  &none            &kp CMD      &kp CTRL     &kp OPT      &kp SHFT     &none         &none
          &none    &none      &kp EXCL   &kp AT     &kp HASH   &none            &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4  &bt BT_CLR
//----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
                                            &kp UNDER &kp RPAR &kp PLUS         &none &none &none
//----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
                        >;
                };
//----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

//----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
                fun_layer { bindings = <
//----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//         0                1                 2              3            4           5          |     5       4        3       2        1       0
//----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
   &trans &none             &kp SH(F6)      &mt SHFT F7   &mt OPT F8   &mt CMD F9  &mt CTRL F12        &none   &none    &none   &none    &none   &none            &trans
          &kp CT(OP(LL))    &kp CT(OP(RR))  &mt SHFT F4   &mt OPT F5   &mt CMD F6  &mt CTRL F11        &kp CMD &kp CTRL &kp OPT &kp SHFT &none   &none
          &none             &none           &mt SHFT F1   &mt OPT F2   &mt CMD F3  &mt CTRL F10        &none   &none    &none   &none    &none   &none
//----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
                                                           &none &none &none        &none &none &none
//----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
                        >;
                };
//----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

//-----------------------------------------------------------------------------------------------------------------------------------
                music_layer { bindings = <
//-----------------------------------------------------------------------------------------------------------------------------------
//         0        1        2            3            4             5    |       5         4         3        2       1       0
//-----------------------------------------------------------------------------------------------------------------------------------
   &trans &none     &none    &kp C_VOL_DN &kp C_MUTE   &kp C_VOL_UP  &none        &none     &none     &none    &none   &none   &none         &trans
          &none     &none    &kp C_PREV   &kp C_PP     &kp C_NEXT    &none        &none     &none     &none    &none   &none   &none
          &none     &none    &none        &kp C_BRI_DN &kp C_BRI_UP  &none        &none     &none     &none    &none   &none   &none
//-----------------------------------------------------------------------------------------------------------------------------------
                                                         &none &none &none        &none &none &none
//-----------------------------------------------------------------------------------------------------------------------------------
                        >;
                };
//-----------------------------------------------------------------------------------------------------------------------------------

//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

//-----------------------------------------------------------------------------------------------------------------------------------
                mouse_layer { bindings = <
//-----------------------------------------------------------------------------------------------------------------------------------
//         0    1          2           3             4           5   |        5       4           3             2           1     0
//-----------------------------------------------------------------------------------------------------------------------------------
   &trans &none &none      &mkp LCLK   &mmv MOU_UU   &mkp RCLK   &none        &none   &mkp LCLK   &mmv MOU_UU   &mkp RCLK   &none &none        &trans
          &none &mouse_off &mmv MOU_LL &mmv MOU_DD   &mmv MOU_RR &none        &none   &mmv MOU_LL &mmv MOU_DD   &mmv MOU_RR &none &none
          &none &none      &none       &mkp MCLK     &none       &none        &none   &none       &mkp MCLK     &none       &none &none
//-----------------------------------------------------------------------------------------------------------------------------------
                                                     &none &none &none        &none &none &none
//-----------------------------------------------------------------------------------------------------------------------------------
                        >;
                };
//-----------------------------------------------------------------------------------------------------------------------------------

//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

//-----------------------------------------------------------------------------------------------------------------------------------
                moving_windows_layer { bindings = <
//-----------------------------------------------------------------------------------------------------------------------------------
//         0      1       2           3           4            5    |    5       4       3       2       1       0
//-----------------------------------------------------------------------------------------------------------------------------------
   &trans &none   &none   &kp CM(N7)  &kp CM(N8)  &kp CM(N9)   &none     &none   &none   &none   &none   &none   &none          &trans
          &none   &none   &kp CM(N4)  &kp CM(N5)  &kp CM(N6)   &none     &none   &none   &none   &none   &none   &none
          &none   &none   &kp CM(N1)  &kp CM(N2)  &kp CM(N3)   &none     &none   &none   &none   &none   &none   &none
//-----------------------------------------------------------------------------------------------------------------------------------
                                              &none &kp CM(N0) &none     &none &none &none
//-----------------------------------------------------------------------------------------------------------------------------------
                        >;
                };
//-----------------------------------------------------------------------------------------------------------------------------------

//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

//-----------------------------------------------------------------------------------------------------------------------------------
                modifier_layer { bindings = <
//-----------------------------------------------------------------------------------------------------------------------------------
//         0       1           2         3        4         5    |       5       4         3         2         1       0
//-----------------------------------------------------------------------------------------------------------------------------------
   &trans &none    &calc_on    &none     &none    &none     &none        &none   &none     &none     &none     &none   &none &trans
          &none    &mouse_on   &none     &none    &none     &none        &none   &none     &none     &none     &none   &none
          &none    &kp RET     &kp BSPC  &kp DEL  &none     &none        &none   &none     &kp ESC   &kp SPACE &kp TAB &none
//-----------------------------------------------------------------------------------------------------------------------------------
                                                &none &none &none        &none &none &none
//-----------------------------------------------------------------------------------------------------------------------------------
                        >;
                };
//-----------------------------------------------------------------------------------------------------------------------------------

//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

//-----------------------------------------------------------------------------------------------------------------------------------
                calc_layer { bindings = <
//-----------------------------------------------------------------------------------------------------------------------------------
//         0        1           2        3        4        5       |      5           4          3        2        1        0
//-----------------------------------------------------------------------------------------------------------------------------------
   &trans &none     &calc_off   &kp N7   &kp N8   &kp N9   &kp BSLH       &kp PG_UP   &kp HOME   &kp UU   &kp END  &kp INS  &kp PSCRN          &trans
          &none     &kp SHFT    &kp N4   &kp N5   &kp N6   &kp FSLH       &kp PG_DN   &kp LL     &kp DD   &kp RR   &none    &none
          &none     &none       &kp N1   &kp N2   &kp N3   &none          &kp ESC     &kp SPACE  &kp TAB  &none    &none    &none
//-----------------------------------------------------------------------------------------------------------------------------------
                                         &kp MINUS &kp N0 &kp EQUAL       &kp RET   &kp BSPC &kp DEL
//-----------------------------------------------------------------------------------------------------------------------------------
                        >;
                };
//-----------------------------------------------------------------------------------------------------------------------------------

//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
               };
};
